body {
	width: 90%;
	max-width: 800px;
	margin: auto;
}

@media ( min-width: 640px ) {

	body {
		background-color: #eaf6ff;
	}
	h1 {
		font-size: 2.5rem;
	}

}

@media ( max-width: 500px ) {

	h1 {
		font-size: 1.5rem;
	}

}

/*fixed size grid items*/
#fixed-size-grid-items aside {
	width: 170px;
	margin: 10px;
	font-size: .8rem;
}

#fixed-size-grid-items li {
	list-style-type: none;
	display: inline-grid;
}

#fixed-size-grid-items ul {
	padding-left: 0px;
}

/*stretchable grid items*/
#stretchable-grid-items aside {
	margin: 10%;
}

#stretchable-grid-items li {
	width: 100%;
	list-style-type: none;
	display: inline-grid;
}

#stretchable-grid-items ul {
	padding-left: 0px;
	margin: 1rem -10px;
}

@media ( min-width: 480px ) {

	#stretchable-grid-items li {
		width: 50%;
	}

}

@media ( min-width: 640px ) {

	#stretchable-grid-items li {
		width: 25%;
	}

}