body {
	color:white;
	font-family:verdana;
	background-color:#41444A
}
div {
	padding-left:20%;
	padding-right:20%;
	padding-bottom: 10%
}
h1 {
	text-align:center;
}
section {
	line-height:130%;
	padding-top:12px;
	padding-bottom:12px;
}
footer {
	text-align:center;
}
.peter {
	color:#C8CDFC;
}
.dana {
	color:#D1EAF3;
}
.mayor {
	color:#D1D7F3;
}
.ray {
	color:#D1E5F3;
}
.egon {
	color:#D1F2F3;
}