* {
	padding: 0;
	margin: 0;
	font-family: trade-gothic-next, sans-serif;
	color: rgb(56, 35, 0);
}


/*header*/
header {
	position: sticky;
	top: 0;
	height: 60px;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid rgb(56, 35, 0);
	z-index: 25;
}

h2 {
	position: relative;
}

.alignLeft h2 {
	float: left;
	top: 18px;
	left: 50px;
	font-weight: 300;
	font-size: 15pt;
}

.alignRight h2 {
	float: right;
	top: 18px;
	right: 50px;
	font-weight: 300;
	font-size: 15pt;
}


/*menu*/
button.controls {
	font-size: 15pt;
	font-weight: 300;
	border: none;
}

.contents {
	display: none;
	color: white;
}

.contents a {
	text-decoration: none;
}

.contents.open {
	display: inline-block;
	position: sticky;
	top: 0;
	width: 100%;
	background-color: rgb(56, 35, 0);
	text-align: right;
	z-index: 25;
}

.contents.open h4 {
	padding: 20px 50px 22px 50px;
}

.contents.open h4 a {
	color: white;
}

aside button {
	position: relative;
	float: left;
	left: 50px;
	top: 20px;
}

aside button.controls {
	background-color: rgb(56, 35, 0);
	color: #bdbdbd;
	font-size: 12pt;
	font-weight: 700;
}


/*content*/
main {
	margin: 50px 10% 50px 20%;
}

div {
	display: inline-block;
	position: relative;
	margin-bottom: 40px;
}

p {
	margin: 5px 0px 20px 20px;
}

p.quote {
	margin-left: 40%;
	text-align: right;
	font-size: 20pt;
}

h3 {
	font-weight: 300;
}

div.img {
	display: inline-block;
	position: relative;
	width: 250px;
	height: 250px;
	margin: 20px;
}

div.img img {
	width: 250px;
	height: 250px;
}

div.img a span.title {
	display: none;
}

div.img a:hover span.title {
	display: block;
	position: absolute;
	width: 250px;
	height: 250px;
	top: 0;
	left: 0;
	background-color: rgba(56, 35, 0, .8);
	z-index: 15;
	text-align: center;
}

div.img a:hover span.title h5 {
	position: absolute;
	color: white;
	font-size: 1.25em;
	width: 60%;
	top: 50%;
	left: 20%;
	transform: translateY(-50%);
}

div.img a:hover span.title h5 span.photographer {
	color: #bdbdbd;
	font-size: .6em;
}


/*footer*/
footer {
	box-sizing: border-box;
	position: relative;
	background-color: rgb(56, 35, 0);
	width: 100%;
	height: 220px;
	padding: 30px 50px 30px 50px;
}

footer a {
	color: white;
	text-decoration: none;
	font-weight: 700;
	line-height: 18pt;
}

footer a:hover {
	text-decoration: underline;
}

footer div {
	display: inline;
	margin-bottom: 0;
}

div.footerLeft h5 {
	float: left;
	top: 30;
	left: 50;
	width: 30%;
}

div.footerRight h5 {
	float: right;
	top: 30;
	right: 50;
	width: 30%;
}

footer h5 {
	color: white;
}

footer div span.copyright {
	color: #bdbdbd;
	font-size: 9pt;
}