/*THIS IS THE CODE THAT WAS GIVEN*/

@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Raleway:300,400,700';

html {
	font-family: 'Open Sans', sans-serif;
}

body>section {
	position: fixed;
	top: 0;
	height: 100%;
	box-sizing: border-box;
	padding: 3rem;
	overflow-y: auto;
}

body>section.challenges {
	left:0;
	width: 30%;
}
body>section.content {
	left:30%;
	width: 70%;
}

h1 {
	margin-top: 0;
}

ul {
	margin:0;
	padding-left:0;
}

li {
	display: block;
}

.cast>ul {
	font-size: 0;
	margin: -10px;
	padding: 0;
}

.cast li {
	font-size: 1rem;
	vertical-align: top;
	padding: 10px;
	box-sizing: border-box;
	display: inline-block;
}

.cast li>a {
	display: block;
	/*border: 1px solid #ddd;
	padding: 10px;*/
	color: black;
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Raleway", sans-serif;
}

.seasons li {
	display: inline-block;
}

section.challenges {
	font-size: 12px;
	background-color: #eee;
}

section.challenges h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
}

section.challenges ol {
	padding-left: 1rem;
}

section.challenges li {
	display: list-item;
	margin: 1em 0;
}

.see-all {
	text-decoration: none;
}

header nav ul {
	font-size: 0;
}

header nav li {
	font-size: 1rem;
	display: inline-block;
	vertical-align: top;
}

header nav a {
	display: block;
	text-decoration: none;
}

header nav li + li  {
	padding-left:1rem;
	margin-left:1rem;
}

p {
	margin: 0.5rem 0;
}

code {
	color: green;
}

h2 {
	margin: 2rem 0 0.5rem 0;
}

#unbreakable-kimmy-schmidt {
	margin-top: 4rem;
	padding-top: 2rem;
}

.shows>li {
	padding-top:2rem;
}














/* THIS PART IS MY CODE! */
header {
	margin-bottom:3rem;
}
p {
	line-height:1.6;
}
.see-all {
	font-size:0.8rem;
	text-transform:uppercase;
}
h1 {
	font-weight:lighter;
}
section.content h1 {
	font-size:2.5rem;
	border-top-style:solid;
	border-top-width:1px;
}
h2 {
	font-size:1rem;
	text-transform:uppercase;
}
img {
	width:100%;
}
section.cast li {
	width:25%;
}
div + div {
	font-style:italic;
}
nav li.selected a {
	font-weight:bold;
	color:black;
}
ul li a div {
	font-size:0.8rem;
}
ul li a > div {
	font-weight:bold;
}
#game-of-thrones ul:first-of-type li:last-of-type:after {
	content:"*";
}
#game-of-thrones ul:first-of-type:after {
	display:block;
	content:"* Final Season";
	font-size:0.7rem;
	color:#999;
}