header {
	margin-bottom:3rem;
}
p {
	line-height:1.6;
}
.see-all {
	font-size:0.8rem;
	text-transform:uppercase;
}
h1 {
	font-weight:lighter;
}
section.content h1 {
	font-size:2.5rem;
	border-top-style:solid;
	border-top-width:1px;
}
h2 {
	font-size:1rem;
	text-transform:uppercase;
}
img {
	width:100%;
}
section.cast li {
	width:25%;
}
div + div {
	font-style:italic;
}
nav li.selected {
	font-weight:bold;
	color:black;
}
ul li a div {
	font-size:0.8rem;
}
ul li a > div {
	font-weight:bold;
}
#game-of-thrones ul:first-of-type li:last-of-type:after {
	content:"*";
}
#game-of-thrones ul:first-of-type:after {
	display:block;
	content:"* Final Season";
	font-size:0.7rem;
	color:#999;
}